[Unit]
Description=service configured at /web-services/config/%i.yaml
Requires=docker.service
After=docker.service

[Service]
Type=notify
User=scott
ExecStart=/usr/local/bin/service_runner /web-services/config/%i.yaml

[Install]
WantedBy=multi-user.target