[Unit]
Description=Owncast streaming service
Wants=traefik.service
Requires=docker-public-network.service
After=docker-public-network.service

[Service]
Type=notify
User=web-services
Environment=service_image=gabekangas/owncast:latest
Environment=service_name=%N
ExecStart=/usr/local/bin/service_runner \
          --network public \
          --expose 8080 \
          --publish 1935:1935 \
          --volume /web-services/mounts/%N.data:/app/data \
          --label traefik.docker.network=public \
          --label traefik.http.routers.owncast.rule=Host(`stream.tams.tech`) \
          --label traefik.http.services.owncast.loadbalancer.server.port=8080 \
          --label traefik.http.routers.owncast.tls=true \
          --label traefik.http.routers.owncast.tls.certresolver=letsencrypt

# traefik.http.routers.jellyfin.rule: Host(`videos.tams.tech`)
# traefik.http.routers.jellyfin.tls: true
# traefik.http.routers.jellyfin.tls.certresolver: letsencrypt
# traefik.port: 8096
